.gb-superset-inspector-control{
  margin-bottom: 14px;

  .gb-superset-inspector-control__component-container{

    .components-base-control{
      margin-bottom: 0px;
    }

    .gb-superset-inspector-control__component-label{
      font-size: 11px;
      font-weight: 500;
      line-height: 1.4;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: calc(5px);
      padding: 0px;
    }

    .gb-superset-inspector-control__component-field {
      align-items: center;
      justify-content: space-between;
      gap: 14px;

      label {
        width: 50%;
        margin-bottom: 0px;
      }

      // Hide Default Label Start
      .components-base-control__field{
        .components-flex{
          .components-flex-item{
            display: none;
          }
        }
      }

      .components-base-control__label{
        display: none;
      }

      .components-form-token-field{
        .components-form-token-field__label, 
        .components-form-token-field__help, 
        .components-spacer{
          display: none;
        }
      }
      // Hide Default Label End
    }

    .gb-superset-inspector-control__component-help {
      display: inline-block;
      margin-top: calc(8px);
      font-size: 12px;
      color: rgb(117, 117, 117);
    }
  }

}

.gb-superset-dropdown{
  .dropdown-button{
    border: 1px solid #007cba;
  }
}

.gb-superset-dropdown-content{
  .components-popover__content{
    max-height: none !important;
    width: 250px;
    padding: 15px 15px;
  }
}