body{
background-color: #397fe9!important;
}
.gb-superset-icon-picker {
	&-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&-item{
			outline: 1px solid #c7c7c7;
			height: 24px !important;
			svg{
				width: 20px;
				height: 20px;
			}
		}
		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 30px;
			z-index: 1;
			cursor: default;
			border: none;
			background: transparent;
			cursor: pointer;

			&:focus {
				outline: none;
				box-shadow: none !important;
			}

			&:hover {
				color: #1e1e1e;
			}

			svg {
				width: 30px;
				height: 30px;
			}
		}

		&-add {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #ffffff;
			font-size: 20px;
			cursor: pointer;
			border: none;

			&:focus {
				outline: none !important;
				box-shadow: none !important;
			}

			&:hover {
				color: #397fe9;
			}
		}
	}
	&-list {
		display: grid;
		grid-template-columns: repeat(11, minmax(0, 1fr));
		text-align: center;
		gap: 15px;
		padding: 3px;
		height: 35vh;
		overflow-y: auto;
		overflow-x: hidden;
		margin-bottom: 3rem;
		align-content: baseline;

		@media (max-width: 900px) {
			grid-template-columns: repeat(8, minmax(0, 1fr));
		}

		&::-webkit-scrollbar {
			width: 6px;
			height: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 4px;
		}
	}
	&-modal {
		width: 100%;
		overflow: hidden !important;
		max-width: 70vw !important;

		.components-modal__header{
			height: unset;
			position: relative;
			padding: 8px;
			.components-button{
				position: absolute;
				top: -10px;
				right: -15px;
				left: unset;
			}
		}

		.components-modal__content{
			margin-top: 10px;
			padding: 10px 1.2rem;
			overflow: hidden;
		}

		&-footer {
			box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px 1.2rem;
			z-index: 999999;
			background-color: rgb(240, 240, 240);
			text-align: right;
		}
	}
	&-search-control {
		margin-top: 10px;

		width: 100%;

		.components-search-control__input {
			border: 1px solid transparent !important;
			z-index: 9999;
			height: 30px;

			&:focus {
				outline: none !important;
				box-shadow: none !important;
				border: 1px solid #e6e6e6 !important;
			}
		}
	}

	&-icon {
		position: relative;
		background-color: #fff;
		border: 1px solid #80808052;
		border-radius: 3px;
		cursor: pointer;
		transition: all 0.3s;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;

		&-selected {
			border: 1px solid #397fe9;
		}

		&:hover {
			box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
		}

		&-content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 10px;

			& > svg {
				width: 24px;
				height: 24px;
			}
		}

		&-name {
			margin: 0;
		}
	}
	&-insert-btn {
		border: 1px solid #397fe9;
		padding: 0 2.2rem;
		color: #397fe9;

		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}
	}
}
